/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #eee;
}

.flat-card {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.actions-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
.actions-box button {
    width: 150px;
    max-width: 300px;
    overflow: hidden;
}

.card-title {
    padding: 10px;
}

.mat-form-field-flex {
    padding: 10px;
}